html, body {
    height: 100%;
    margin: 0;
}
.bg { 
    /*background-image: url("Background.jpg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
   
   
}
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 89px;
    background-color: #000000;
}
.footer {
    position: fixed;
    height: 105px;
    background-color: #FFFFFF;
    bottom: 0px;
    width: 100%;
}

